certifi==2026.7.22
charset-normalizer==3.4.9
greenlet==3.5.4
idna==3.18
ipykernel==6.29.5
joblib==1.5.3
narwhals==2.24.0
nbclient==0.11.0
nbformat==5.10.4
numpy==2.5.1
nvidia-nccl-cu12==2.30.7
pandas==3.0.5
psycopg2-binary==2.9.12
python-dotenv==1.1.1
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
SQLAlchemy==2.0.51
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
xgboost==3.3.0